*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
.banner{
    height: 60px;
    background-image: url("../img/head.jpg");
    position: relative;
}
.banner h2{
    position: absolute;
    left: 50px;
    top: 10px;
    color: #ffffff;
    font-weight: 400;
    text-shadow: -10px 4px 5px rgba(0,0,0 ,1);
}
.banner span{
    position: absolute;
    top: 5px;
    right: 300px;
    color: #fff;
}
.side{
    width: 150px;
    height: 100%;
    /*border: 1px solid #adccea;*/
    background-color: #fff;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}
.bigslide{
    width: 150px;
    height: 26px;
    padding-left: 30px;
    color: #fff;
    background-image: url("../img/menufolder.jpg");
    margin-bottom: 2px;
    cursor: pointer;
}
#backmain{
    background-image: url("../img/backmain.jpg");
}
#backmain a{
    color: #fff;
}
#userul,#stuul,#teaul,#speul,#couul,#dorul{
    width: 150px;
    margin-top: 10px;
    margin-left: -30px;
}
#userul li,#stuul li,#teaul li,#speul li,#couul li,#dorul li{
    height: 0px;
    border:1px solid #adccea;
    border-top: 0;
    line-height: 26px;
    text-align: center;
    color: #0e6fbc;
    font-size: 13px;
}
#usermanner li a,#stumanner li a,#teamanner li a,#spemanner li a,#coumanner li a,#dormanner li a{
    color: #0e6fbc;
}
#usermanner li a:hover,#stumanner li a:hover,#teamanner li a:hover,#spemanner li a:hover,#coumanner li a:hover,#dormanner li a:hover{
    color: #0b90f4;
}
.space{
    width: 8px;
    height: 100%;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #ccc;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;

}